  <!--header-->
  <header class="bg-slate-800 w-full">
    <!--nav-bar-->
    <nav class="flex flex-row content-center px-8 py-8">
      
      <a href="#" class="text-3xl font-bold uppercase text-indigo-400 mr-4">clipz</a>
       
      <div>
        <ul class="flex flex-row mt-1">
          <li><a href="#" class="px-4" 
            (click)="openModal($event)">
            Login/Register
          </a>
          </li>
          <li><a href="#" class="px-4">Manage</a></li>
          <li><a href="#" class="px-4">Upload</a></li>
          <li><a href="about.html" class="px-4">About</a></li>
        </ul>

      </div>
    </nav> 
     <!--Fin nav-bar-->
  </header>
 <!--Fin Header-->